html {
    box-sizing: border-box;
    font-size: 100%;
}
*, *::after, *::before {
    box-sizing: inherit;
}

body {
    font-size: 0.75rem;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    background: linear-gradient($softViolet, $softBlue);
    background-repeat: no-repeat;
    height: 100vh;
    align-content: center;
}

main {
    background: white;
    border-radius: 20px;
    transform: translateY(-90px);
    min-width: 370px; // it wasn't measured change it
    height: 40vh;
    position: relative;
    z-index: -2;
    padding-top: 100px;
    text-align: center;
}

