html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.75rem;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  background: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background: linear-gradient(#af67e9, #6565e7);
  background-repeat: no-repeat;
  min-height: 100vh;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  margin: 0 0 42px 0;
  font-size: 30px;
  color: #1d1e35;
}

@media (min-width: 1024px) {
  h1 {
    text-align: left;
  }
}

h2 {
  font-size: 0.75rem;
  text-align: left;
  color: #4a4b5e;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.opened {
  font-weight: 700;
}

hr {
  color: #e7e7e9;
  background-color: #e7e7e9;
  height: 1px;
  border-width: 0;
  margin: 0 0 20px 0;
}

main {
  -webkit-transform: translateY(-45px);
          transform: translateY(-45px);
}

@media (min-width: 1024px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: white;
    border-radius: 20px;
    min-width: 920px;
    max-width: 920px;
    min-height: 510px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-box-shadow: 0 30px 50px -20px #1d1e35;
            box-shadow: 0 30px 50px -20px #1d1e35;
  }
}

.main {
  background: white;
  border-radius: 20px;
  max-width: 330px;
  min-width: 330px;
  position: relative;
  z-index: -2;
  text-align: center;
  margin-bottom: 10px;
  color: #1d1e35;
  padding: 138px 25px 28px 25px;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-box-shadow: 0 20px 30px -10px #1d1e35;
          box-shadow: 0 20px 30px -10px #1d1e35;
}

@media (min-width: 1024px) {
  .main {
    border-radius: 0;
    background-color: transparent;
    min-width: 532px;
    max-width: 532px;
    padding: 0 88px 0 96px;
    max-height: 510px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.main .question-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .question-container:hover {
  cursor: pointer;
  color: #f47c57;
}

.main .answer {
  display: none;
  color: #787887;
  margin: 0 0 20px 0;
  text-align: left;
  font-weight: 400;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.main .arrow {
  height: 0.75rem;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.main .arrow__up {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main .answer-opened {
  display: block;
}

footer {
  font-size: 11px;
  text-align: center;
  color: lightgray;
  margin-top: 20px;
  -webkit-transform: translateY(-45px);
          transform: translateY(-45px);
}

@media (min-width: 1024px) {
  footer {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

footer a {
  color: #f47c57;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

header {
  background-image: url(/images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-bottom: 0px;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  min-width: 330px;
  z-index: 2;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  position: relative;
  top: 90px;
}

@media (min-width: 1024px) {
  header {
    background-image: url("/images/bg-pattern-desktop.svg");
    max-width: 388px;
    background-repeat: no-repeat;
    top: 0px;
    background-size: 235%;
    background-position: 100% 70%;
    max-height: 510px;
    position: relative;
  }
}

header .mobile {
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  z-index: 1;
  height: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media (min-width: 1024px) {
  header .mobile {
    display: none;
  }
}

header .img-container {
  overflow: hidden;
  height: 100%;
}

header .desktop {
  display: none;
}

@media (min-width: 1024px) {
  header .desktop {
    display: block;
    height: auto;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  header .desktop__woman {
    position: relative;
    top: 50px;
    left: -85px;
  }
  header .desktop__box {
    position: absolute;
    top: 184px;
    left: -92px;
  }
}
/*# sourceMappingURL=style.css.map */